<!-- Title and Description of the component -->
<!-- buttonName: it serve as the parameter needed for this button -->
<!-- When using this button component, it would look like this: { title: 'Text Input' } -->
<!-- (<%= %>) - rendered the value or text into html -->

<div class="p-5 flex flex-col gap-5 border-2 border-green-500">
	<h1>Example</h1>
</div>
