<!-- This symbol (<%- %>) - rendered the ejs file in html format  -->
<!-- include keyword requires a filename option or file directory -->
<% const button = [
    {"button": "Heading", "description": "This is a normal text description for the heading.", "path":"heading"},
    {"button": "Normal Text", "description": "This is a normal text description for the normal.", "path":"textfield"}
];  %>
<!-- Text Components -->
<div class="flex flex-col gap-3">
	<p class="text-lg font-sem-bold text-center">Text Blocks</p>
	
	<% button.forEach(function(item) { console.log(item); %>
	<div
		hx-get="/modal/button"
		hx-trigger="load"
		hx-swap="outerHTML"
		hx-vals='{"button": "<%= item.button %>","description": "<%= item.description %>","path":"<%= item.path %>"}'
			>
	</div>
	<% }); %>
</div>
