<div class="input-block" draggable="true" id="<%= query.id %>">
	<div class="block-container">
		<div
			class="content-container h-8 p-2 justify-start items-center gap-2.5 inline-flex"
		>
			<input
				type="checkbox"
				value=""
				name="default-radio"
				class="w-4 h-4 text-blue-600 outline-none bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
			/>
			<label
				contentEditable="true"
				for="default-radio"
				class="text-neutral-600 text-md outline-none font-extralight"
				>Default radio</label
			>
		</div>
		<div
			hx-get="components/tooltip"
			hx-swap="outerHTML"
			hx-trigger="load"
		></div>
		<div class="move-dropzone" data-position="left"></div>
		<div class="move-dropzone" data-position="right"></div>
		<div class="move-dropzone" data-position="below"></div>
		<div class="move-dropzone" data-position="top"></div>
	</div>
</div>
