<div class="input-block" draggable="true" id="<%= query.id %>">
  <div class="block-container ">
    <div class="content-container bg-red-400 w-fit">
      <select
        class="max-w-80 h-10 p-2  rounded-md w-fit shadow border border-zinc-400 justify-between items-center inline-flex"
      >
        <option value="volvo">Example 1</option>
        <option value="volvo">Example 1</option>
      </select>
    </div>
    <div hx-get="components/tooltip" hx-swap="outerHTML" hx-trigger="load"></div>
    <div class="move-dropzone" data-position="left"></div>
    <div class="move-dropzone" data-position="right"></div>
    <div class="move-dropzone" data-position="below"></div>
    <div class="move-dropzone" data-position="top"></div>
  </div>
</div>
