<select class="w-80 h-10 p-2 rounded-lg shadow border border-zinc-400 justify-between items-center inline-flex">
    <div class="text-center text-neutral-600 text-xs font-extralight font-['Inter']">Place Holder...</div>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>