<<<<<<< HEAD
<div class="input-block">
  <textarea
    placeholder="<%=placeholder %>"
    class="resize-none w-full overflow-hidden text-neutral-600 py-2 text-[3rem] outline-none font-bold h-auto"
    rows="1"
    oninput="auto_grow(this)"
    data-type="heading"
  ></textarea>
</div>
=======
<div class="block w-full">
  <div class="block max-w-xl right-0 left-0 mr-0 ml-0 relative">
    <div contentEditable=true on-focus="true" placeholder="Header Here..."
      class="resize-none w-full overflow-hidden text-neutral-600 py-2 text-[3rem] outline-none font-bold"></div>
  </div>
</div>
>>>>>>> 1e561ff143a91460510460dac5f7418e746ac6c7
