<<<<<<< HEAD
<div>
  <textarea contenteditable="true" class="text-[1.5rem] w-full outline-none resize-none focus:placeholder:visible placeholder:invisible" 
  oninput="auto_grow(this)"
  <%=focus
    ? "autofocus" : "" %>
    rows="1"
    placeholder="Start typing text or add a block.">asdasdasd</textarea>
  </div>
</p>
=======
<div contentEditable=true on-focus="false" hx-params="*" class="text-[1.5rem] outline-none resize-none" <%=focus
  ? "autofocus" : "" %>
  placeholder="Start typing text or add a block."></div>
</div>
<div class="w-80 h-10 p-2 rounded-lg shadow border border-zinc-400 justify-start items-center gap-2.5 inline-flex">
  <div class="text-neutral-600 text-xs font-extralight font-['Inter']">Place Holder...</div>
</div>
>>>>>>> 1e561ff143a91460510460dac5f7418e746ac6c7
