<div contentEditable=true on-focus="false" hx-params="*" class="text-[1.5rem] outline-none resize-none" <%=focus
  ? "autofocus" : "" %>
  placeholder="Start typing text or add a block."></div>
</div>
<div class="w-80 h-10 p-2 rounded-lg shadow border border-zinc-400 justify-start items-center gap-2.5 inline-flex">
  <div class="text-neutral-600 text-xs font-extralight font-['Inter']">Place Holder...</div>
</div>