<div>
  <div contenteditable="true" class="text-[1.5rem] w-full outline-none resize-none focus:placeholder:visible placeholder:invisible" 
  on-focus="false"
  <%=query.focus
    ? "autofocus" : "" %>
    onfocus="showTooltip(this)"
    placeholder="Start typing text or add a block."></div>
  </div>
</div>