<<<<<<< HEAD
<div class="">
  <label for="Text Area">Text area</label>
  <textarea name="Text Area" id="Text Area" cols="30" rows="1"></textarea>
</div>
=======
<div
  class="w-80 h-28 px-2 py-2.5 rounded-lg shadow border border-zinc-400 flex-col justify-start items-start gap-2.5 inline-flex">
  <div class="text-neutral-600 text-xs font-extralight font-['Inter']">Place Holder...</div>
</div>
>>>>>>> 1e561ff143a91460510460dac5f7418e746ac6c7
