<div
  class="w-80 h-28 px-2 py-2.5 rounded-lg shadow border border-zinc-400 flex-col justify-start items-start gap-2.5 inline-flex">
  <div class="text-neutral-600 text-xs font-extralight font-['Inter']">Place Holder...</div>
</div>