<div contentEditable=true on-focus="false" hx-params="*" class="text-[1.5rem] outline-none resize-none" <%=focus
  ? "autofocus" : "" %>
  placeholder="Start typing text or add a block."></div>
</div>