<div
  class="w-80 h-28 px-2 py-2.5 rounded-lg shadow border border-zinc-400 flex-col justify-start items-start gap-2.5 inline-flex"
>
  <div
    class="self-stretch grow shrink basis-0 text-neutral-600 text-xs font-extralight font-['Inter']"
    contentEditable="true"
    placeholder="Start typing text or add a block."
  >
    Place Holder...
  </div>
</div>
