<div class="input-block" draggable="true" id="<%= query.id %>">
  <div class="block-container ">
    <div contenteditable="true" show-pl-click="false"
      class="content-container text-[1.1rem] w-full outline-none resize-none" spellcheck="false" data-type="text"
      id="input_<%= query.id %>" <%=query.focus==="true" ? "autofocus" : "" %>
      placeholder="Start typing text or add a block."></div>

    </label>
    <div hx-get="components/tooltip" hx-swap="outerHTML" hx-trigger="load"></div>
    <div class="move-dropzone" data-position="left"></div>
    <div class="move-dropzone" data-position="right"></div>
    <div class="move-dropzone" data-position="below"></div>
    <div class="move-dropzone" data-position="top"></div>
  </div>
</div>

