<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/app.css" />

		<script
			src="https://unpkg.com/htmx.org@2.0.0"
			integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<script src="/js/scripts.js"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
      <div class="w-screen h-screen bg-[#efefef] flex-col justify-center items-center inline-flex">
        <div class="p-2.5 flex-col justify-center items-center gap-[50px] flex">
            <div><span class="text-[#575757] text-[266px] font-extrabold">Oops</span><span class="text-[#f50000] text-[266px] font-extrabold">!!!</span></div>
            <div class="p-2.5 flex-col justify-center items-center gap-[16px] flex">
                <div class="text-black text-[32px] font-extrabold">404 - PAGE NOT FOUND <br> </div>
                <div class="text-black text-[25px] font-extralight">The page might nonexistent, or it might be moved, or removed by the admin.</div>
            </div>    
        </div>
      </div>
	</body>
</html>





