<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/app.css" />

    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script src="/js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,regular,500"
      media="all"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="app">
      <%- include('../components/formsNavbar'); %>
      <main class="mainscreen w-screen items-start inline-flex" id="main">
        <div class="relative min-h-screen w-screen pt-16">
          <div class="w-full flex justify-center">
            <div
              class="flex flex-col h-full w-full max-w-screen-lg pt-6 gap-2.5 mb-20"
              hx-boost="true"
            >
              <div
                class="justify-between items-center gap-2.5 inline-flex py-4"
              >
                <div class="text-neutral-600 text-5xl font-extrabold">
                  My Forms
                </div>
                <button
                  class="inline-flex hover:shadow-lg transition-shadow justify-center items-center rounded-full border border-gray-300 py-2 px-3"
                  onclick="submitForm('list')"
                >
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M18.3334 21.6668H8.33337V18.3335H18.3334V8.3335H21.6667V18.3335H31.6667V21.6668H21.6667V31.6668H18.3334V21.6668Z"
                      fill="#979797"
                    />
                  </svg>
                  <h1 class="text-xl font-bold text-gray-500">New Form</h1>
                </button>
              </div>
              <div class="self-stretch h-px border border-neutral-400"></div>

              <% forms.forEach(function(item) { %>
              <div
                hx-post="components/formCard"
                hx-trigger="load"
                hx-swap="outerHTML"
                hx-vals='js:{"name": "<%=item.name %>","date": "<%=item.date %>","id": "<%=item.id %>"}'
              ></div>
              <% }); %>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- <script src="/js/Sortable.min.js"></script> -->
  </body>
</html>
