<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/app.css" />

    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script src="/js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,regular,500"
      media="all"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Document</title>
  </head>

  <body>
    <div class="app">
      <%- include('../components/formsNavbar'); %>

      <main class="mainscreen w-screen items-start inline-flex" id="main">
        <div class="relative min-h-screen w-screen pt-16">
          <div class="w-full flex justify-center z-20 px-10">
            <div
              class="flex flex-col h-full w-full items-center max-w-screen-lg pt-6 gap-2.5 mb-20"
            >
              <div
                class="justify-between w-full items-center gap-2.5 inline-flex py-4"
              >
                <h1 class="text-neutral-600 text-5xl font-extrabold">
                  My Forms
                </h1>
                <div class="flex gap-4">
                  <button
                    class="inline-flex hover:shadow-md transition-shadow justify-center- gap-2 items-center rounded-full py-2 px-3"
                    onclick="createForm()"
                  >
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.5 16C14.994 16.491 13 17.8 13 18.5M13 18.5C13 19.2 14.994 20.509 15.5 21M13 18.5H21"
                        stroke="#555555"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M11 22H10.727C7.467 22 5.835 22 4.703 21.202C4.38085 20.9761 4.0929 20.705 3.848 20.397C3 19.331 3 17.797 3 14.727V12.182C3 9.219 3 7.737 3.469 6.554C4.223 4.651 5.817 3.151 7.839 2.441C9.095 2 10.668 2 13.818 2C15.616 2 16.516 2 17.234 2.252C18.389 2.658 19.3 3.515 19.731 4.602C20 5.278 20 6.125 20 7.818V13"
                        stroke="#555555"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M3 12C3 11.116 3.35115 10.2683 3.97621 9.64321C4.60127 9.01815 5.44903 8.667 6.333 8.667C6.999 8.667 7.784 8.783 8.431 8.61C8.71371 8.53392 8.97145 8.38485 9.17838 8.17774C9.38531 7.97064 9.53416 7.71277 9.61 7.43C9.783 6.783 9.667 5.998 9.667 5.332C9.66726 4.44821 10.0185 3.6007 10.6436 2.97586C11.2686 2.35102 12.1162 2 13 2"
                        stroke="#555555"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    <h1 class="text-xl font-bold text-gray-500">Import</h1>
                  </button>
                  <button
                    class="inline-flex hover:shadow-md transition-shadow justify-center items-center rounded-full border border-gray-300 py-2 px-3"
                    onclick="createForm()"
                  >
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M18.3334 21.6668H8.33337V18.3335H18.3334V8.3335H21.6667V18.3335H31.6667V21.6668H21.6667V31.6668H18.3334V21.6668Z"
                        fill="#979797"
                      />
                    </svg>
                    <h1 class="text-xl font-bold text-gray-500">New Form</h1>
                  </button>
                </div>
              </div>
              <div class="w-full flex justify-center">
                <div
                  id="list-container"
                  class="w-full max-w-screen-lg pb-32"
                  id="list"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="h-screen fixed w-screen bg-white flex justify-center items-center"
          id="spinner"
          hx-trigger="load delay:500ms"
          hx-get="/"
          hx-swap="delete"
          hx-target="this"
        >
          <img src="/assets/1490.gif" class="object-contain" />
        </div>

        <div
          class="load-indicator h-screen fixed w-screen bg-white flex justify-center items-center"
          id="spinner"
        >
          <img src="/assets/1490.gif" class="object-contain" />
        </div>
        <div id="sharemodal"></div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/sweetAlert.js"></script>
  </body>
</html>
