<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/app.css" />

  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <script src="/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="app">
    <div hx-get="/components/navbar" hx-trigger="load" hx-swap="outerHTML"></div>
    <main class="w-screen items-start inline-flex">
      <!-- <div
          class="flex flex-row"
          hx-get="/components/sidebar"
          hx-trigger="load"
          hx-swap="innerHTML"
        ></div> -->
      <div class="relative min-h-screen w-screen pt-16">
        <div class="h-80 inset-2 header-image ">
          <span>
            <svg width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 3C4.83696 3 4.20107 3.26339 3.73223 3.73223C3.26339 4.20107 3 4.83696 3 5.5V14.5C3 15.163 3.26339 15.7989 3.73223 16.2678C4.20107 16.7366 4.83696 17 5.5 17H14.5C15.163 17 15.7989 16.7366 16.2678 16.2678C16.7366 15.7989 17 15.163 17 14.5V5.5C17 4.83696 16.7366 4.20107 16.2678 3.73223C15.7989 3.26339 15.163 3 14.5 3H5.5ZM4 14.5V7H16V14.5C16 14.8978 15.842 15.2794 15.5607 15.5607C15.2794 15.842 14.8978 16 14.5 16H5.5C5.10218 16 4.72064 15.842 4.43934 15.5607C4.15804 15.2794 4 14.8978 4 14.5Z"
                fill="#CCCCCC" />
            </svg>
          </span>
          <span>

            Add cover</span>
        </div>
        <div class="w-full flex justify-center">
          <form action="" method="" onsubmit="onSubmit(event)" id="form"
            class=" flex flex-col h-full gap-1 w-full max-w-screen-lg px-10">
            <!-- <div hx-get="/components/tooltip" hx-trigger="load" hx-swap="outerHTML" id="tool"></div> -->
            <div hx-get="components/fields/heading" hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}' hx-swap="outerHTML" class="form-field"></div>
            <div hx-get="components/fields/textfield" hx-trigger="load target:#tool" hx-vals='{"focus": true}'
              hx-swap="outerHTML" class="form-field"></div>
            <div hx-get="components/fields/textfield" hx-trigger="load target:#tool" hx-swap="outerHTML"
              class="form-field"></div>
            <div hx-get="components/fields/textfield" hx-trigger="load target:#tool" hx-swap="outerHTML"
              class="form-field"></div>

            <div hx-get="components/button" hx-trigger="load target:#tool" hx-swap="outerHTML"></div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <script type="module" src="/js/htmx.min.js"></script>
  <script src="/js/Sortable.min.js"></script>
</body>

</html>