<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/app.css" />

  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="app">
    <div hx-get="/components/navbar" hx-trigger="load" hx-swap="outerHTML"></div>
    <main class="w-screen items-start inline-flex">
      <div class="flex flex-row" hx-get="/components/sidebar" hx-trigger="load" hx-swap="innerHTML">
      </div>
      <div class="ml-[56px] relative flex items-center justify-center min-h-screen w-full">
        <form action="" method="" id="form" class="w-full xl:w-1/2 px-4 flex flex-col h-full p-4 gap-4">
          <div hx-get="components/fields/heading" hx-trigger="load target:#tool" hx-swap="outerHTML" class="form-field">
          </div>
          <div hx-get="components/fields/inputfield" hx-trigger="load target:#tool" hx-swap="outerHTML"
            class="form-field"></div>
          <div hx-get="components/fields/textarea" hx-trigger="load target:#tool" hx-swap="outerHTML"
            class="form-field"></div>


          <div hx-get="components/button" hx-trigger="load target:#tool" hx-swap="outerHTML"></div>
        </form>
      </div>
    </main>
  </div>
  <script type="text/javascript">
    function auto_grow(element) {
      element.style.height = "5px";
      element.style.height = element.scrollHeight + "px";
    }

    function generateName() {
      const form = document.getElementById("form");
      const inputs = form.querySelectorAll("input, textarea, radio, select");
      return `input${inputs.length + 1}`;
    }
    let index = 0;
    document.addEventListener("htmx:afterSwap", function (e) {
      let element = e.target;
      // console.log(element);
      if (element.id != "tooltip" && element.closest("#form")) {
        const tooltip = document.getElementById("tooltip");

        let newElement = element.nextElementSibling;

        if (!element.id && newElement) {
          console.log("ASDSADASDASD");
          element.setAttribute("id", "element_" + index);
        } else if (element.id && newElement) {
          newElement.setAttribute("id", "element_" + index);
        }
        index++;

        console.log(element.id);
        console.log("added: ", element);
        console.log("next:", element.nextElementSibling);

        element.addEventListener("focus", function () {
          const rect = element.getBoundingClientRect();
          tooltip.classList.remove("hidden");
          tooltip.style.top =
            rect.bottom -
            20 +
            window.scrollY -
            element.offsetHeight / 2 +
            "px";
          tooltip.style.left = rect.left - 200 + "px";
          tooltip.setAttribute("hx-target", "#" + element.id);
        });
        newElement.addEventListener("focus", function () {
          const rect = newElement.getBoundingClientRect();
          tooltip.classList.remove("hidden");
          tooltip.style.top =
            rect.bottom -
            50 +
            window.scrollY -
            -newElement.offsetHeight / 2 +
            "px";
          tooltip.style.left = rect.left - 200 + "px";
          tooltip.setAttribute("hx-target", "#" + newElement.id);
        });
      }
    });
  </script>

  <script src="/js/htmx.min.js"></script>
  <script src="/js/Sortable.min.js"></script>
</body>

</html>