<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/app.css" />

    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="app">
      <div
        hx-get="/components/navbar"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></div>
      <main class="w-screen items-start inline-flex">
        <!-- <div
          class="flex flex-row"
          hx-get="/components/sidebar"
          hx-trigger="load"
          hx-swap="innerHTML"
        ></div> -->
        <div
          class="relative flex items-center justify-center min-h-screen w-full"
        >
          <form
            action=""
            method=""
            onsubmit="onSubmit(event)"
            id="form"
            class="xl:w-1/2 px-4 flex flex-col h-full p-4 gap-4"
          >
            <!-- <div
              hx-get="/components/tooltip"
              hx-trigger="load"
              hx-swap="outerHTML"
              id="tool"
            ></div> -->
            <div
              hx-get="components/fields/heading"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
            <div
              hx-get="components/fields/inputfield"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
            <div
              hx-get="components/fields/divider"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
            <div
              hx-get="components/fields/textarea"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
            <div
              hx-get="components/fields/radiobox"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
            <div
              hx-get="components/fields/checkbox"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
            <div
              hx-get="components/fields/dropdown"
              hx-trigger="load target:#tool"
              hx-vals='{"placeholder": "Add a heading"}'
              hx-swap="outerHTML"
              class="form-field"
            ></div>
          </form>
        </div>
      </main>
    </div>
    <script src="/js/scripts.js"></script>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/Sortable.min.js"></script>
  </body>
</html>
