@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  position: relative;
  color: #333;
  padding: 2px 3px 3px 2px;
  min-height: 30px;
  line-height: 1.5;
}

.title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.header-image {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header-image > span {
  visibility: hidden;
  padding: 5px;
  color: #b9b9b9;
  font-weight: 500;
  border-radius: 40%;
}
.header-image:hover {
  background-color: #f5f5f5b8;
}

.header-image:hover > span {
  visibility: visible;
}

.move-dropzone {
  position: absolute;
  width: 100%;
  z-index: 50;
  transition: background-color 0.2s;
}

.move-dropzone.drag-over {
  background-color: rgb(61, 135, 246);
}

.input-block {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-block-flex {
  display: grid;
  gap: 2px;
  justify-content: start;
  width: 100%;
}
.block-container {
  width: 100%;
  position: relative;
}
[data-position="below"] {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
}
[data-position="top"] {
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
}
[data-position="right"] {
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
}
[data-position="left"] {
  left: -6px;
  top: 0;
  height: 100%;
  width: 3px;
}

.block-container:hover .content-container:not(:focus),
.actions:hover .content-container:not(:focus) {
  transition: all 0.3s;
  box-shadow: inset 4px 0 0 #6c6c6c;
}

.actions {
  opacity: 0;
}
.action-button {
  cursor: pointer;
}

.actions:hover .action-button:hover {
  background-color: #f0f0f0;
}

.content-container:focus ~ .actions {
  opacity: 1;
}
.actions:hover {
  opacity: 1;
}

[show-pl-click="false"]:focus:empty:before {
  color: #888;
  pointer-events: none;
  content: attr(placeholder);
}
/* 
[contenteditable="true"]:empty:not(:focus):before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
} */

/* [contentEditable="true"]:empty:not(:focus):before {
  content: attr(placeholder);
} */

[show-pl-click="true"]:empty:not(:focus):before {
  color: #888;
  font-weight: bold;
  pointer-events: none;
  content: attr(placeholder);
}
