<div
  class="self-stretch h-24 p-2.5 bg-white rounded-2xl border border-black/opacity-30 justify-between items-center inline-flex"
>
  <div class="w-56 px-5 flex-col justify-start items-start gap-2.5 inline-flex">
    <div class="self-stretch justify-between items-center inline-flex">
      <div class="text-neutral-700 text-xl font-bold">Form 1 Example</div>
    </div>
    <div class="text-zinc-600 text-xs font-light">Created 2024 - 7 - 8</div>
  </div>
  <div class="h-11 p-2.5 justify-start items-center gap-2.5 flex">
    <div
      class="w-20 h-6 p-2.5 rounded-lg border border-neutral-500 justify-between items-center flex"
    >
      <div class="text-black text-xs font-light">Edit</div>
    </div>
    <div
      class="w-20 h-6 p-2.5 rounded-lg border border-neutral-500 justify-between items-center flex"
    >
      <div class="text-black text-xs font-light">Link</div>
    </div>
    <div
      class="w-20 h-6 p-2.5 rounded-lg border border-neutral-500 justify-between items-center flex"
    >
      <div class="text-black text-xs font-light">Delete</div>
    </div>
  </div>
</div>
