<div
  class="self-stretch h-24 p-2.5 bg-white rounded-2xl border border-black/opacity-30 justify-between items-center inline-flex"
>
  <div
    class="self-stretch py-3 px-6 flex-col justify-start items-start gap-2.5 inline-flex overflow-hidden"
  >
    <div class="self-stretch justify-between items-center inline-flex gap-2">
      <div class="text-neutral-700 text-xl font-bold"><%= options.name %></div>
      <svg
        width="18"
        height="20"
        viewBox="0 0 18 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 4.08588L15 7.08588M10 18.0859H18M2 14.0859L1 18.0859L5 17.0859L16.586 5.49988C16.9609 5.12482 17.1716 4.61621 17.1716 4.08588C17.1716 3.55555 16.9609 3.04693 16.586 2.67188L16.414 2.49988C16.0389 2.12494 15.5303 1.91431 15 1.91431C14.4697 1.91431 13.9611 2.12494 13.586 2.49988L2 14.0859Z"
          stroke="#888686"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="text-zinc-600 text-xs font-light"><%= options.date %></div>
  </div>
  <div class="h-11 p-2.5 justify-start items-center gap-2.5 flex">
    <div
      class="w-20 h-6 p-2.5 rounded-lg border border-neutral-500 justify-between items-center flex"
    >
      <div class="text-black text-xs font-light">Edit</div>
    </div>
    <div
      class="w-20 h-6 p-2.5 rounded-lg border border-neutral-500 justify-between items-center flex"
    >
      <div class="text-black text-xs font-light">Link</div>
    </div>
    <div
      class="w-20 h-6 p-2.5 rounded-lg border border-neutral-500 justify-between items-center flex"
    >
      <div class="text-black text-xs font-light">Delete</div>
    </div>
  </div>
</div>
