<div
  class="self-stretch h-24 p-2.5 bg-white rounded-2xl border border-black/opacity-30 justify-between items-center inline-flex"
>
  <div
    class="self-stretch py-3 px-6 flex-col justify-start items-start gap-2.5 inline-flex"
  >
    <div class="self-stretch justify-between items-center inline-flex gap-2">
      <div class="text-neutral-700 text-xl font-bold"><%= options.name %></div>
      <svg
        width="18"
        height="20"
        viewBox="0 0 18 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 4.08588L15 7.08588M10 18.0859H18M2 14.0859L1 18.0859L5 17.0859L16.586 5.49988C16.9609 5.12482 17.1716 4.61621 17.1716 4.08588C17.1716 3.55555 16.9609 3.04693 16.586 2.67188L16.414 2.49988C16.0389 2.12494 15.5303 1.91431 15 1.91431C14.4697 1.91431 13.9611 2.12494 13.586 2.49988L2 14.0859Z"
          stroke="#888686"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <button
      class="relative group transition-all duration-200 py-2 ml-2 focus:overflow-visible overflow-hidden flex flex-row items-center justify-center gap-1 rounded-lg"
    >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.325 4.317C10.751 2.561 13.249 2.561 13.675 4.317C13.7389 4.5808 13.8642 4.82578 14.0407 5.032C14.2172 5.23822 14.4399 5.39985 14.6907 5.50375C14.9414 5.60764 15.2132 5.65085 15.4838 5.62987C15.7544 5.60889 16.0162 5.5243 16.248 5.383C17.791 4.443 19.558 6.209 18.618 7.753C18.4769 7.98466 18.3924 8.24634 18.3715 8.51677C18.3506 8.78721 18.3938 9.05877 18.4975 9.30938C18.6013 9.55999 18.7627 9.78258 18.9687 9.95905C19.1747 10.1355 19.4194 10.2609 19.683 10.325C21.439 10.751 21.439 13.249 19.683 13.675C19.4192 13.7389 19.1742 13.8642 18.968 14.0407C18.7618 14.2172 18.6001 14.4399 18.4963 14.6907C18.3924 14.9414 18.3491 15.2132 18.3701 15.4838C18.3911 15.7544 18.4757 16.0162 18.617 16.248C19.557 17.791 17.791 19.558 16.247 18.618C16.0153 18.4769 15.7537 18.3924 15.4832 18.3715C15.2128 18.3506 14.9412 18.3938 14.6906 18.4975C14.44 18.6013 14.2174 18.7627 14.0409 18.9687C13.8645 19.1747 13.7391 19.4194 13.675 19.683C13.249 21.439 10.751 21.439 10.325 19.683C10.2611 19.4192 10.1358 19.1742 9.95929 18.968C9.7828 18.7618 9.56011 18.6001 9.30935 18.4963C9.05859 18.3924 8.78683 18.3491 8.51621 18.3701C8.24559 18.3911 7.98375 18.4757 7.752 18.617C6.209 19.557 4.442 17.791 5.382 16.247C5.5231 16.0153 5.60755 15.7537 5.62848 15.4832C5.64942 15.2128 5.60624 14.9412 5.50247 14.6906C5.3987 14.44 5.23726 14.2174 5.03127 14.0409C4.82529 13.8645 4.58056 13.7391 4.317 13.675C2.561 13.249 2.561 10.751 4.317 10.325C4.5808 10.2611 4.82578 10.1358 5.032 9.95929C5.23822 9.7828 5.39985 9.56011 5.50375 9.30935C5.60764 9.05859 5.65085 8.78683 5.62987 8.51621C5.60889 8.24559 5.5243 7.98375 5.383 7.752C4.443 6.209 6.209 4.442 7.753 5.382C8.753 5.99 10.049 5.452 10.325 4.317Z" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12Z" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div
        class="absolute shadow-lg left-8 top-0 w-[10.5rem] h-max p-2 bg-white border border-zinc-200 rounded-lg flex flex-col items-center gap-2"
      >
        <div
          hx-post="template/default"
          hx-swap="innerHTML"
          hx-target=".mainscreen"
          class="flex flex-row gap-2 w-full items-center hover:bg-zinc-100 p-2 rounded-lg"
        >
          <h1>Close submission</h1>
        </div>
        <span
          hx-post="template/feedback"
          hx-swap="innerHTML"
          hx-target=".mainscreen"
          class="flex flex-row w-full gap-2 items-center hover:bg-zinc-100 p-2 rounded-lg"
        >
          <h1 class="text-red-700 bg-slate-50 font-bold text-md">Delete Form</h1>
        </span>
  
      </div>
    </button>

        
        
    </div>
    <div class="text-zinc-600 text-xs font-light flex gap-4"><div><%= options.date %></div>
  <div class="text-green-500 font-bold">Open</div></div>
  </div>
  <div class="h-11 p-2.5 justify-start items-center gap-2.5 flex">
    <!-- <div
      class="w-20 h-6 rounded-lg justify-center items-center flex"
    >
      <div class="text-black text-xs font-light">Edit</div>
    </div> -->


    <div
    class="w-fit px-3 h-10 text-white rounded-full bg-gray-900 justify-center gap-2 items-center flex cursor-pointer"
  >
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.9 12C3.9 10.29 5.29 8.9 7 8.9H11V7H7C5.67392 7 4.40215 7.52678 3.46447 8.46447C2.52678 9.40215 2 10.6739 2 12C2 13.3261 2.52678 14.5979 3.46447 15.5355C4.40215 16.4732 5.67392 17 7 17H11V15.1H7C5.29 15.1 3.9 13.71 3.9 12ZM8 13H16V11H8V13ZM17 7H13V8.9H17C18.71 8.9 20.1 10.29 20.1 12C20.1 13.71 18.71 15.1 17 15.1H13V17H17C18.3261 17 19.5979 16.4732 20.5355 15.5355C21.4732 14.5979 22 13.3261 22 12C22 10.6739 21.4732 9.40215 20.5355 8.46447C19.5979 7.52678 18.3261 7 17 7Z" fill="#F8F8F8"/>
    </svg>
    
    <div class="text-sm font-light pr-1">Share</div>
  </div>
  </div>
</div>
