<nav
	class="w-screen bg-white fixed h-fit z-20 py-3 mr-0 ml-0 px-10 content-center flex justify-center"
>
	<div
		class="max-w-screen-xl 2xl:max-w-screen-xl justify-between items-center inline-flex w-full"
	>
		<a
			class="pr-4 outline-none flex gap-2 items-center text-black text-xl font-black cursor-pointer w-fit"
			href="/"
		>
			Dynaform
		</a>
		<% if(isLogin) { %>
		<div class="flex gap-4 items-center" hx-preload="mouseover">
			<a href="/forms" class="hover:text-gray-500"> My Forms </a>

			<div class="relative">
				<button
					id="profileButton"
					class="text-md text-center text-black flex items-center relative group transition-all duration-200 focus:outline-none"
				>
					<span class="flex px-4 gap-3 py-2 items-center">
						<div class="w-7 h-7">
							<img
								src="<%- user.img_url %>"
								class="w-full h-full rounded-full object-cover"
							/>
						</div>
					</span>
				</button>

				<div
					id="dropdownMenu"
					class="absolute top-full right-0 mt-2 w-48 shadow-lg bg-white border border-zinc-200 rounded-lg flex flex-col gap-2 opacity-0 invisible transition-opacity duration-200"
				>
					<form action="/logout" method="POST">
						<button
							type="submit"
							class="flex flex-row gap-2 items-center hover:bg-zinc-100 p-2 rounded-lg w-full"
						>
							Logout
						</button>
					</form>
				</div>
			</div>

			<% } else { %>

			<a
				href="/auth/google"
				class="rounded-full text-md text-white text-center px-4 py-2 bg-neutral-800"
			>
				Sign in
			</a>

			<% } %>
		</div>
	</div>
</nav>
