<nav
  class="w-screen fixed h-fit z-20 bg-white py-3 mr-0 ml-0 px-10 content-center flex justify-center"
>
  <div
    class="max-w-screen-xl 2xl:max-w-screen-xl justify-between items-center inline-flex w-full"
  >
    <div class="flex gap-2 items-center">
      <a
        class="outline-none text-black text-xl font-black cursor-pointer w-fit"
        href="/form/myforms"
      >
        <svg
          width="35"
          height="35"
          viewBox="0 0 46 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M36.2708 5.6875H9.72917C7.64375 5.6875 5.9375 7.39375 5.9375 9.47917V36.0208C5.9375 38.1062 7.64375 39.8125 9.72917 39.8125H36.2708C38.3562 39.8125 40.0625 38.1062 40.0625 36.0208V9.47917C40.0625 7.39375 38.3562 5.6875 36.2708 5.6875ZM13.5208 13.2708H17.3125V17.0625H13.5208V13.2708ZM13.5208 20.8542H17.3125V24.6458H13.5208V20.8542ZM13.5208 28.4375H17.3125V32.2292H13.5208V28.4375ZM32.4792 32.2292H21.1042V28.4375H32.4792V32.2292ZM32.4792 24.6458H21.1042V20.8542H32.4792V24.6458ZM32.4792 17.0625H21.1042V13.2708H32.4792V17.0625Z"
            fill="#292929"
          />
        </svg>
      </a>
      <div class="flex justify-center items-center">
        <input type="text" id="form-title" maxlength="30" class="font-sans
        tracking-tight text-lg w-28 max-w-44 max-h-10 overflow-ellipsis
        resize-none" spellcheck="false" value="<%= typeof name !==
        'undefined'?name:"Untitled form" %>" onblur="if (this.value.trim() ===
        '') { this.value = 'Untitled Form'; }" />
        <div class="flex items-center gap-2" style="display: none" id="change">
          <div
            class="load-incidator w-4 h-4 mt-2 flex justify-start"
            id="change-indicator"
          >
            <img src="/assets/1487.gif" width="35" class="object-contain" />
          </div>
          <div class="pt-2 text-gray-400" id="change-text">
            All changes saved
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center z-20">
      <button
        class="relative group transition-all duration-200 p-2 overflow-hidden text-md"
      >
        <span>
          <svg
            width="26"
            height="27"
            viewBox="0 0 26 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.16663 13.778C2.16663 19.3528 6.35588 23.9473 11.7509 24.568C12.5471 24.6601 13.3185 24.321 13.885 23.7523C14.2251 23.4111 14.416 22.9491 14.416 22.4674C14.416 21.9858 14.2251 21.5237 13.885 21.1826C13.3185 20.6138 12.8559 19.7667 13.2838 19.0874C14.9911 16.3704 23.8333 22.6093 23.8333 13.7791C23.8333 7.7785 18.9832 2.9165 13 2.9165C7.01671 2.9165 2.16663 7.77959 2.16663 13.778Z"
              stroke="#555555"
              stroke-width="1.625"
            />
            <path
              d="M18.9584 14.021C19.4071 14.021 19.7709 13.6572 19.7709 13.2085C19.7709 12.7598 19.4071 12.396 18.9584 12.396C18.5096 12.396 18.1459 12.7598 18.1459 13.2085C18.1459 13.6572 18.5096 14.021 18.9584 14.021Z"
              stroke="#555555"
              stroke-width="1.625"
            />
            <path
              d="M7.04163 14.021C7.49036 14.021 7.85413 13.6572 7.85413 13.2085C7.85413 12.7598 7.49036 12.396 7.04163 12.396C6.59289 12.396 6.22913 12.7598 6.22913 13.2085C6.22913 13.6572 6.59289 14.021 7.04163 14.021Z"
              stroke="#555555"
              stroke-width="1.625"
            />
            <path
              d="M11.1962 8.3335C11.1962 8.54898 11.1106 8.75565 10.9582 8.90802C10.8058 9.06039 10.5992 9.146 10.3837 9.146C10.1682 9.146 9.96152 9.06039 9.80914 8.90802C9.65677 8.75565 9.57117 8.54898 9.57117 8.3335C9.57117 8.11801 9.65677 7.91135 9.80914 7.75897C9.96152 7.6066 10.1682 7.521 10.3837 7.521C10.5992 7.521 10.8058 7.6066 10.9582 7.75897C11.1106 7.91135 11.1962 8.11801 11.1962 8.3335ZM16.5207 8.3335C16.5207 8.54898 16.4351 8.75565 16.2828 8.90802C16.1304 9.06039 15.9237 9.146 15.7082 9.146C15.4928 9.146 15.2861 9.06039 15.1337 8.90802C14.9814 8.75565 14.8957 8.54898 14.8957 8.3335C14.8957 8.11801 14.9814 7.91135 15.1337 7.75897C15.2861 7.6066 15.4928 7.521 15.7082 7.521C15.9237 7.521 16.1304 7.6066 16.2828 7.75897C16.4351 7.91135 16.5207 8.11801 16.5207 8.3335Z"
              stroke="#555555"
              stroke-width="1.625"
            />
          </svg>
        </span>
        <div
          class="absolute shadow-lg -bottom-32 w-fit right-0 h-max p-2 bg-white border border-zinc-200 rounded-lg flex flex-col gap-2"
        ></div>
      </button>

      <% if(isLogin) { %>
      <a
        class="p-2 mr-3 hover:font-semibold text-md"
        href="/form/<%= typeof id !== 'undefined'?id:''%>"
      >
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.91172 17.686C2.92891 16.4095 2.4375 15.7701 2.4375 13.875C2.4375 11.9788 2.92891 11.3417 3.91172 10.064C5.87388 7.51563 9.16456 4.625 14 4.625C18.8354 4.625 22.1261 7.51563 24.0883 10.064C25.0711 11.3428 25.5625 11.9799 25.5625 13.875C25.5625 15.7712 25.0711 16.4083 24.0883 17.686C22.1261 20.2344 18.8354 23.125 14 23.125C9.16456 23.125 5.87388 20.2344 3.91172 17.686Z"
            stroke="#555555"
            stroke-width="1.73438"
          />
          <path
            d="M17.4688 13.875C17.4688 14.795 17.1033 15.6773 16.4528 16.3278C15.8023 16.9783 14.92 17.3438 14 17.3438C13.08 17.3438 12.1977 16.9783 11.5472 16.3278C10.8967 15.6773 10.5312 14.795 10.5312 13.875C10.5312 12.955 10.8967 12.0727 11.5472 11.4222C12.1977 10.7717 13.08 10.4063 14 10.4062C14.92 10.4062 15.8023 10.7717 16.4528 11.4222C17.1033 12.0727 17.4688 12.955 17.4688 13.875Z"
            stroke="#555555"
            stroke-width="1.73438"
          />
        </svg>
      </a>
      <% } else { %>
      <button
        class="p-2 mr-3 hover:font-semibold text-md"
        hx-post="/form/preview"
        onclick="check()"
        hx-trigger="click"
        hx-target=".mainscreen"
        hx-swap="outerHTML"
      >
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.91172 17.686C2.92891 16.4095 2.4375 15.7701 2.4375 13.875C2.4375 11.9788 2.92891 11.3417 3.91172 10.064C5.87388 7.51563 9.16456 4.625 14 4.625C18.8354 4.625 22.1261 7.51563 24.0883 10.064C25.0711 11.3428 25.5625 11.9799 25.5625 13.875C25.5625 15.7712 25.0711 16.4083 24.0883 17.686C22.1261 20.2344 18.8354 23.125 14 23.125C9.16456 23.125 5.87388 20.2344 3.91172 17.686Z"
            stroke="#555555"
            stroke-width="1.73438"
          />
          <path
            d="M17.4688 13.875C17.4688 14.795 17.1033 15.6773 16.4528 16.3278C15.8023 16.9783 14.92 17.3438 14 17.3438C13.08 17.3438 12.1977 16.9783 11.5472 16.3278C10.8967 15.6773 10.5312 14.795 10.5312 13.875C10.5312 12.955 10.8967 12.0727 11.5472 11.4222C12.1977 10.7717 13.08 10.4063 14 10.4062C14.92 10.4062 15.8023 10.7717 16.4528 11.4222C17.1033 12.0727 17.4688 12.955 17.4688 13.875Z"
            stroke="#555555"
            stroke-width="1.73438"
          />
        </svg>
      </button>
      <% } %> <% if(isLogin) { %>
      <button
        id="publishButton"
        hx-post="/form/publish/<%= id%>"
        hx-trigger="confirmed"
        onClick="Swal.fire({title: 'Publish Form', text:'Publishing a form will open the form for responses. Publish it now to accept responses!',
						showCancelButton: true, confirmButtonText: 'Yes, Publish!', cancelButtonText: 'Do not Publish!', confirmButtonColor: '#3b82f6', cancelButtonColor: '#eee', customClass: { confirmButton: 'confirm-btn', cancelButton: 'cancel-btn' }
						}).then((result)=>{
            				if(result.isConfirmed){
            					  htmx.trigger(this, 'confirmed');  
								   window.location = '/form/myforms';
            				} 
						});"
        class="rounded-full text-sm font-bold text-white text-center px-3 py-2 bg-neutral-800"
      >
        Publish
      </button>

      <% } else { %>

      <a
        href="/auth/google?returnTo=/create"
        class="rounded-full text-md text-white text-center px-4 py-2 bg-neutral-800"
      >
        Sign in
      </a>

      <% } %>
    </div>
  </div>
</nav>
