<div
  class="formcard px-5 w-full self-stretch py-2  bg-white rounded-2xl border border-black/opacity-30 justify-between items-center inline-flex"
>
  <div
    class="self-stretch flex-col justify-start items-start gap-2.5 inline-flex"
  >
    <div class="flex justify-between h-full items-center">
      <a
        class="text-neutral-700 text-lg"
        href="/response/id"
      >
        1. Response
      </a>
    </div>
    <!-- <div class="text-zinc-600 text-xs font-light flex gap-4">
      <div>Date</div>

    </div> -->
  </div>
  <div class="h-7 p-2.5 justify-start items-center gap-2.5 flex">
    <button
      hx-post="/components/modal/share"
      hx-trigger="click"
      hx-target="#sharemodal"
      hx-swap="innerHTML"
      hx-vals='js:{"formId": "id"}'
      class="w-fit px-3 h-fit py-1 text-neutral-800 rounded-full justify-center gap-2 items-center flex cursor-pointer"
    >
      <!-- <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_180_162)">
      <path d="M11 3.5C13.4386 3.5 15.6051 4.59988 17.1477 5.96138C17.9221 6.64475 18.56 7.41212 19.0098 8.176C19.4516 8.92587 19.75 9.73875 19.75 10.5C19.75 11.2613 19.4525 12.0741 19.0098 12.824C18.56 13.5879 17.9221 14.3553 17.1477 15.0386C15.6051 16.4001 13.4377 17.5 11 17.5C8.56138 17.5 6.39488 16.4001 4.85225 15.0386C4.07788 14.3553 3.44 13.5879 2.99025 12.824C2.5475 12.0741 2.25 11.2613 2.25 10.5C2.25 9.73875 2.5475 8.92587 2.99025 8.176C3.44 7.41212 4.07788 6.64475 4.85225 5.96138C6.39488 4.59988 8.56225 3.5 11 3.5ZM11 5.25C9.089 5.25 7.318 6.11888 6.01075 7.273C5.35975 7.847 4.84525 8.47438 4.49787 9.06413C4.14262 9.66788 4 10.1675 4 10.5C4 10.8325 4.14262 11.3321 4.49787 11.9359C4.84525 12.5256 5.35975 13.1521 6.01075 13.727C7.318 14.8811 9.089 15.75 11 15.75C12.911 15.75 14.682 14.8811 15.9893 13.727C16.6402 13.1521 17.1547 12.5256 17.5021 11.9359C17.8574 11.3321 18 10.8325 18 10.5C18 10.1675 17.8574 9.66788 17.5021 9.06413C17.1547 8.47438 16.6402 7.84788 15.9893 7.273C14.682 6.11888 12.911 5.25 11 5.25ZM11 7.875C11.077 7.875 11.1531 7.87821 11.2284 7.88462C11.0384 8.21787 10.9632 8.60431 11.0143 8.98448C11.0654 9.36466 11.24 9.71751 11.5113 9.98875C11.7825 10.26 12.1353 10.4346 12.5155 10.4857C12.8957 10.5368 13.2821 10.4616 13.6154 10.2716C13.6614 10.7985 13.5472 11.327 13.2877 11.7879C13.0282 12.2488 12.6355 12.6205 12.1611 12.8544C11.6868 13.0883 11.1528 13.1734 10.6292 13.0986C10.1056 13.0239 9.61682 12.7927 9.22687 12.4353C8.83693 12.078 8.56402 11.6112 8.44391 11.0961C8.3238 10.581 8.36209 10.0417 8.55376 9.54873C8.74542 9.05578 9.08153 8.63223 9.51804 8.33356C9.95455 8.0349 10.4711 7.87507 11 7.875Z" fill="#545454"/>
      </g>
      <defs>
      <clipPath id="clip0_180_162">
      <rect width="21" height="21" fill="white" transform="translate(0.5)"/>
      </clipPath>
      </defs>
      </svg> -->


      <div class="text-sm font-light pr-1 hover:font-semibold transition-all ">View</div>
    </button>
        <button
      hx-post="/components/modal/share"
      hx-trigger="click"
      hx-target="#sharemodal"
      hx-swap="innerHTML"
      hx-vals='js:{"formId": "id"}'
      class="w-fit px-3 h-fit py-1 text-neutral-800 rounded-full justify-center gap-2 items-center flex cursor-pointer"
    >
      <!-- <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_180_162)">
      <path d="M11 3.5C13.4386 3.5 15.6051 4.59988 17.1477 5.96138C17.9221 6.64475 18.56 7.41212 19.0098 8.176C19.4516 8.92587 19.75 9.73875 19.75 10.5C19.75 11.2613 19.4525 12.0741 19.0098 12.824C18.56 13.5879 17.9221 14.3553 17.1477 15.0386C15.6051 16.4001 13.4377 17.5 11 17.5C8.56138 17.5 6.39488 16.4001 4.85225 15.0386C4.07788 14.3553 3.44 13.5879 2.99025 12.824C2.5475 12.0741 2.25 11.2613 2.25 10.5C2.25 9.73875 2.5475 8.92587 2.99025 8.176C3.44 7.41212 4.07788 6.64475 4.85225 5.96138C6.39488 4.59988 8.56225 3.5 11 3.5ZM11 5.25C9.089 5.25 7.318 6.11888 6.01075 7.273C5.35975 7.847 4.84525 8.47438 4.49787 9.06413C4.14262 9.66788 4 10.1675 4 10.5C4 10.8325 4.14262 11.3321 4.49787 11.9359C4.84525 12.5256 5.35975 13.1521 6.01075 13.727C7.318 14.8811 9.089 15.75 11 15.75C12.911 15.75 14.682 14.8811 15.9893 13.727C16.6402 13.1521 17.1547 12.5256 17.5021 11.9359C17.8574 11.3321 18 10.8325 18 10.5C18 10.1675 17.8574 9.66788 17.5021 9.06413C17.1547 8.47438 16.6402 7.84788 15.9893 7.273C14.682 6.11888 12.911 5.25 11 5.25ZM11 7.875C11.077 7.875 11.1531 7.87821 11.2284 7.88462C11.0384 8.21787 10.9632 8.60431 11.0143 8.98448C11.0654 9.36466 11.24 9.71751 11.5113 9.98875C11.7825 10.26 12.1353 10.4346 12.5155 10.4857C12.8957 10.5368 13.2821 10.4616 13.6154 10.2716C13.6614 10.7985 13.5472 11.327 13.2877 11.7879C13.0282 12.2488 12.6355 12.6205 12.1611 12.8544C11.6868 13.0883 11.1528 13.1734 10.6292 13.0986C10.1056 13.0239 9.61682 12.7927 9.22687 12.4353C8.83693 12.078 8.56402 11.6112 8.44391 11.0961C8.3238 10.581 8.36209 10.0417 8.55376 9.54873C8.74542 9.05578 9.08153 8.63223 9.51804 8.33356C9.95455 8.0349 10.4711 7.87507 11 7.875Z" fill="#545454"/>
      </g>
      <defs>
      <clipPath id="clip0_180_162">
      <rect width="21" height="21" fill="white" transform="translate(0.5)"/>
      </clipPath>
      </defs>
      </svg> -->


      <div class="text-sm font-light pr-1 hover:font-semibold transition-all ">Remove</div>
    </button>
  </div>
</div>
