
    <button 
     hx-post="components/summary"
     hx-trigger="click"
     hx-swap="innerHTML"
     hx-target=".heads"
     class="self-stretch border-b border-black flex-col justify-center items-start gap-2.5 inline-flex">
        <div class="text-black text-base font-semibold">Summary</div>
    </button>
    <button
     hx-post="components/submission"
     hx-trigger="click"
     hx-swap="innerHTML"
     hx-target=".heads"
     class="self-stretch flex-col justify-center items-start gap-2.5 inline-flex">
        <div class="text-neutral-500 text-base font-semibold">Submission</div>
    </button>

    