<div
	class="mx-4 actions absolute rounded-2xl shadow flex-col justify-center bg-white -ml-32 top-0 items-center gap-2"
	id="<%= options.id %>"
>
	<div class="self-stretch h-full justify-center items-center inline-flex">
		<div class="action-button delete">
			<svg
				width="45"
				height="30"
				viewBox="-4 -2 20 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M10.4328 2.67798H0.466614V4.33901C0.760302 4.33901 1.04196 4.45568 1.24963 4.66335C1.4573 4.87102 1.57397 5.15268 1.57397 5.44636V7.66107C1.57397 9.22687 1.57397 10.0103 2.06065 10.4965C2.54678 10.9831 3.33023 10.9831 4.89603 10.9831H6.00339C7.56974 10.9831 8.35264 10.9831 8.83877 10.4965C9.326 10.0103 9.326 9.22687 9.326 7.66107V5.44636C9.326 5.15268 9.44267 4.87102 9.65034 4.66335C9.85801 4.45568 10.1397 4.33901 10.4334 4.33901L10.4328 2.67798ZM4.61919 5.44636C4.61919 5.29952 4.56086 5.15869 4.45702 5.05486C4.35319 4.95102 4.21236 4.89269 4.06552 4.89269C3.91867 4.89269 3.77784 4.95102 3.67401 5.05486C3.57017 5.15869 3.51184 5.29952 3.51184 5.44636V8.21475C3.51184 8.36159 3.57017 8.50243 3.67401 8.60626C3.77784 8.71009 3.91867 8.76843 4.06552 8.76843C4.21236 8.76843 4.35319 8.71009 4.45702 8.60626C4.56086 8.50243 4.61919 8.36159 4.61919 8.21475V5.44636ZM7.38758 5.44636C7.38758 5.29952 7.32925 5.15869 7.22541 5.05486C7.12158 4.95102 6.98075 4.89269 6.8339 4.89269C6.68706 4.89269 6.54623 4.95102 6.44239 5.05486C6.33856 5.15869 6.28022 5.29952 6.28022 5.44636V8.21475C6.28022 8.36159 6.33856 8.50243 6.44239 8.60626C6.54623 8.71009 6.68706 8.76843 6.8339 8.76843C6.98075 8.76843 7.12158 8.71009 7.22541 8.60626C7.32925 8.50243 7.38758 8.36159 7.38758 8.21475V5.44636Z"
					fill="black"
				/>
				<path
					d="M4.38 1.22182C4.44312 1.16313 4.5821 1.11108 4.77588 1.07398C4.99828 1.03444 5.22383 1.01535 5.44971 1.01695C5.69333 1.01695 5.9303 1.03689 6.12353 1.07398C6.31732 1.11108 6.45574 1.16313 6.51941 1.22237"
					stroke="black"
					stroke-width="1.10735"
					stroke-linecap="round"
				/>
			</svg>
		</div>
		<div class="action-button edit">
			<svg
				width="25"
				height="25"
				viewBox="0 0 20 20"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M7.37 4.75009C7.716 4.75009 7.996 5.03009 7.996 5.37509V7.50009C7.996 7.699 8.07502 7.88976 8.21567 8.03042C8.35632 8.17107 8.54709 8.25009 8.746 8.25009C8.94492 8.25009 9.13568 8.17107 9.27633 8.03042C9.41698 7.88976 9.496 7.699 9.496 7.50009V3.87509C9.496 3.79301 9.51217 3.71174 9.54358 3.63591C9.57499 3.56008 9.62102 3.49118 9.67906 3.43315C9.7371 3.37511 9.806 3.32907 9.88182 3.29766C9.95765 3.26625 10.0389 3.25009 10.121 3.25009C10.2031 3.25009 10.2844 3.26625 10.3602 3.29766C10.436 3.32907 10.5049 3.37511 10.5629 3.43315C10.621 3.49118 10.667 3.56008 10.6984 3.63591C10.7298 3.71174 10.746 3.79301 10.746 3.87509V7.00009C10.746 7.199 10.825 7.38977 10.9657 7.53042C11.1063 7.67107 11.2971 7.75009 11.496 7.75009C11.6949 7.75009 11.8857 7.67107 12.0263 7.53042C12.167 7.38977 12.246 7.199 12.246 7.00009V4.87409C12.2461 4.70833 12.3121 4.54941 12.4294 4.43229C12.5467 4.31518 12.7057 4.24945 12.8715 4.24959C13.0373 4.24972 13.1962 4.31569 13.3133 4.433C13.4304 4.5503 13.4961 4.70933 13.496 4.87509V7.50009C13.496 7.699 13.575 7.88976 13.7157 8.03042C13.8563 8.17107 14.0471 8.25009 14.246 8.25009C14.4449 8.25009 14.6357 8.17107 14.7763 8.03042C14.917 7.88976 14.996 7.699 14.996 7.50009V6.50009C14.996 6.43378 15.0223 6.37019 15.0692 6.32331C15.1161 6.27643 15.1797 6.25009 15.246 6.25009H15.621C15.966 6.25009 16.246 6.53009 16.246 6.87509V11.5001C16.246 11.5258 16.2474 11.5515 16.25 11.5771C16.23 13.3331 15.57 14.6011 14.627 15.4391C13.656 16.3021 12.34 16.7501 11 16.7501C8.404 16.7501 6.6 15.0421 5.146 12.6191C5.13801 12.6055 5.12968 12.5922 5.121 12.5791C4.79335 12.0791 4.47562 11.5727 4.168 11.0601C3.6 10.1241 4.186 8.93609 5.246 8.77009V10.0001C5.246 10.199 5.32502 10.3898 5.46567 10.5304C5.60632 10.6711 5.79709 10.7501 5.996 10.7501C6.19491 10.7501 6.38568 10.6711 6.52633 10.5304C6.66698 10.3898 6.746 10.199 6.746 10.0001V5.37509C6.746 5.03009 7.025 4.75009 7.37 4.75009ZM3.867 13.4011C3.52983 12.8865 3.20276 12.3654 2.886 11.8381C1.695 9.87309 3.046 7.43609 5.246 7.26009V5.37509C5.24577 5.03682 5.32629 4.70339 5.48088 4.40252C5.63546 4.10165 5.85964 3.84202 6.13477 3.64523C6.4099 3.44845 6.72803 3.32019 7.06271 3.27111C7.3974 3.22204 7.73896 3.25357 8.059 3.36309C8.16392 2.94127 8.39561 2.56175 8.72286 2.27566C9.05011 1.98957 9.45718 1.81066 9.88924 1.76304C10.3213 1.71542 10.7576 1.80138 11.1393 2.00934C11.521 2.21729 11.8297 2.53724 12.024 2.92609C12.3391 2.78902 12.6827 2.7304 13.0254 2.75526C13.3681 2.78012 13.6997 2.88771 13.9917 3.06881C14.2837 3.24992 14.5274 3.49913 14.702 3.79508C14.8766 4.09104 14.9768 4.42491 14.994 4.76809C15.077 4.75609 15.161 4.75009 15.247 4.75009H15.622C16.795 4.75009 17.747 5.70109 17.747 6.87509V11.4191C17.7498 11.446 17.7511 11.473 17.751 11.5001C17.751 13.7041 16.917 15.4111 15.624 16.5601C14.345 17.6981 12.661 18.2501 11.001 18.2501C7.606 18.2501 5.411 15.9701 3.867 13.4011Z"
					fill="black"
				/>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M3.443 13.669C3.10421 13.1514 2.77548 12.6273 2.457 12.097C1.15 9.94103 2.467 7.31203 4.746 6.82803V5.37503C4.74592 4.99943 4.82646 4.62819 4.98216 4.28638C5.13786 3.94457 5.3651 3.64015 5.64853 3.39369C5.93196 3.14723 6.26498 2.96446 6.6251 2.85773C6.98521 2.75101 7.36404 2.7228 7.736 2.77503C7.92746 2.35967 8.22412 2.00154 8.59659 1.73613C8.96906 1.47071 9.40442 1.30722 9.85953 1.26185C10.3146 1.21648 10.7737 1.29081 11.1912 1.47747C11.6088 1.66413 11.9703 1.95664 12.24 2.32603C12.9168 2.15999 13.6318 2.26935 14.2281 2.63009C14.8243 2.99083 15.253 3.57346 15.42 4.25003H15.62C15.9648 4.2499 16.3063 4.3177 16.6248 4.44956C16.9434 4.58142 17.2329 4.77475 17.4768 5.01852C17.7207 5.26229 17.9141 5.55171 18.0461 5.87025C18.1781 6.1888 18.246 6.53023 18.246 6.87503V11.396C18.249 11.43 18.25 11.466 18.25 11.5C18.25 13.84 17.36 15.685 15.956 16.934C14.573 18.163 12.766 18.75 11 18.75C7.342 18.75 5.017 16.282 3.443 13.669ZM3.866 13.401C3.52882 12.8865 3.20176 12.3654 2.885 11.838C1.694 9.87303 3.045 7.43603 5.245 7.26003V5.37503C5.24476 5.03677 5.32529 4.70334 5.47987 4.40246C5.63445 4.10159 5.85863 3.84196 6.13376 3.64518C6.40889 3.44839 6.72702 3.32013 7.06171 3.27105C7.39639 3.22198 7.73795 3.25351 8.058 3.36303C8.16244 2.94083 8.39391 2.56084 8.72117 2.27437C9.04843 1.9879 9.45571 1.80875 9.88802 1.7611C10.3203 1.71346 10.7569 1.79961 11.1386 2.00793C11.5204 2.21625 11.8291 2.53671 12.023 2.92603C12.3381 2.78921 12.6817 2.73078 13.0243 2.75575C13.3669 2.78072 13.6983 2.88834 13.9903 3.0694C14.2822 3.25046 14.5259 3.49956 14.7006 3.79539C14.8752 4.09121 14.9755 4.42495 14.993 4.76803C15.076 4.75603 15.16 4.75003 15.246 4.75003H15.621C16.794 4.75003 17.746 5.70103 17.746 6.87503V11.419C17.7488 11.4459 17.7501 11.473 17.75 11.5C17.75 13.704 16.916 15.411 15.623 16.56C14.344 17.698 12.66 18.25 11 18.25C7.605 18.25 5.41 15.97 3.866 13.401Z"
					fill="black"
				/>
			</svg>
		</div>

		<!-- Open Modal -->
		<div
			class="action-button add"
			hx-get="/components/modal"
			hx-vals='{"focus": true, "type": "text", "name": "field_name"}'
			hx-trigger="click"
			hx-swap="afterend"
			hx-target="closest .input-block"
		>
			<svg
				width="45"
				height="30"
				viewBox="-1 -1 15 15"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M6.71954 10.8449V1.15509M1.87463 6H11.5644"
					stroke="black"
					stroke-width="0.968982"
				/>
			</svg>
		</div>
	</div>
</div>
